<div class="camisao">
    <h2>LOGIN</h2>

    <form [formGroup]="loginForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" />
            <div class="invalid-feedback">
                <div>Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" />
            <div class="invalid-feedback">
                <div>Password is required</div>
            </div>
        </div>
        <div class="form-group">

            <button class="btn1 btn-dark" (click)="doLogin()">Login</button>
            <button routerLink="/registar" class="btn btn-light">Register</button><br><br>
            <div class="btn3">
                <button type="button" class="btn btn-light btn-link" routerLink="/mudarpass">Esqueci-me da
                    password</button>
            </div>
        </div>


    </form>
</div>