<div class="divprincipal">
  <h1 class="titulo">Contactos</h1>
  <p>Nome:</p>
  <input type="text" name="nome"><br>
  <p>Apelido:</p>
  <input type="text" name="apelido"><br>
  <p>Nome de Utilizador:</p>
  <input type="text" name="nomeUtilizador"><br>
  <p>E-mail:</p>
  <input type="text" name="email"><br>
  <p>Palavra-Passe:</p>
  <input type="text" name="palavraPasse"><br>
  <br>
  <input type="submit" value="Registar" class="btnsubmit">
  <input type="submit" value="Cancelar" class="btncancelar">
  <br>
  <p>Click the "Submit" button and the form-data will be sent to a page on the server called "/action_page.php".</p>
</div>
