<div class="divContactos" class="divprincipal">
  <h1 class="titulo">Contacte-nos!</h1>
  <p class="textos">Nome:</p>
  <input type="text" name="nome" class="MargensCaixas"><br>
  <p class="textos">Apelido:</p>
  <input type="text" name="apelido" class="MargensCaixas"><br>
  <p class="textos">E-mail:</p>
  <input type="text" name="email" class="MargensCaixas"><br>
  <p class="textos">Mensagem:</p>
  <textarea rows="10" cols="100" class="MargensCaixaMensagem">  </textarea><br>
  <br>
  <input type="submit" value="Enviar" class="btnenviar">
  <input type="submit" value="Cancelar" class="btncancelar">
  <br>
  <p class="textos">Clique em "Enviar" para nos contactar.</p>
  <div class="contactos">
    <p class="textos">icon (Nosso e-mail)</p>
    <p class="textos">icon (Nossa morada)</p>
    <p class="textos">icon (Nosso telefone)</p>
  </div>
</div>
