<div class="divprincipal">
  <h1 class="titulo">Contactos</h1>
  <p>Nome:</p>
  <input type="text" name="nome"><br>
  <p>Apelido:</p>
  <input type="text" name="apelido"><br>
  <p>E-mail:</p>
  <input type="text" name="email"><br>
  <p>Mensagem:</p>
  <input type="text" name="mensagem"><br>
  <br>
  <input type="submit" value="Enviar" class="btnenviar">
  <input type="submit" value="Cancelar" class="btncancelar">
  <br>
  <p>Click the "Submit" button and the form-data will be sent to a page on the server called "/action_page.php".</p>
</div>
