.divprincipal {
  margin-top: 60px;
  margin-left: 70px;
}

.titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: rgb(90, 90, 90);
}

.btnenviar {
  background-color: rgb(255, 255, 255);
  color: rgb(90, 90, 90);
  border: 2px solid rgb(158, 255, 206);
  width: 100px;
  height: 50px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
}

.btnenviar:hover {
  background-color: rgb(158, 255, 206);
  color: rgb(90, 90, 90);
}

.btncancelar {
  background-color: rgb(255, 255, 255);
  color: rgb(90, 90, 90);
  border: 2px solid rgb(158, 255, 206);
  width: 100px;
  height: 50px;
  margin-left: 10px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
}

.btncancelar:hover {
  background-color: rgb(158, 255, 206);
  color: rgb(90, 90, 90);
}

.MargensCaixas {
  width: 370px;
  height: 25px;
  border: 1px solid rgb(184, 184, 184);
}

.MargensCaixaMensagem {
  border: 1px solid rgb(184, 184, 184);
}

.textos {
  margin-bottom: 5px;
  color: rgb(90, 90, 90);
}

.contactos {
  width: 370px;
  height: 100px;
  border: 0px;
  margin-top: -400px;
  margin-left: 800px;
}
