<div class="divprincipal">
  <h1 class="titulo">Enviar Mensagem</h1>
  <p>Destinatario:</p>
  <input type="text" name="destinatario"><br>
  <p>Assunto:</p>
  <input type="text" name="assunto"><br>
  <p>Mensagem:</p>
  <input type="text" name="mensagem"><br>
  <br>
  <input type="submit" value="Enviar" class="btnenviar">
  <input type="submit" value="Cancelar" class="btncancelar">
  <br>
  <p>Click the "Submit" button and the form-data will be sent to a page on the server called "/action_page.php".</p>
</div>
