<div class="divprincipal">
  <h1 class="titulo">Enviar Mensagem</h1>
  <p class="textos">Destinatário:</p>
  <input type="text" name="destinatario" class="MargensCaixas"><br>
  <p class="textos">Assunto:</p>
  <input type="text" name="assunto" class="MargensCaixas"><br>
  <p class="textos">Mensagem:</p>
  <textarea rows="10" cols="100" class="MargensCaixaMensagem">  </textarea><br>
  <br>
  <input type="submit" value="Enviar" class="btnenviar">
  <input type="submit" value="Cancelar" class="btncancelar">
  <br>
  <p class="textos">Clique em "Enviar" para enviar a mensagem.</p>
</div>
