<div class="divprincipal">
  <h1 class="titulo" x</h1> <p class="textos">Nome:</p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code>{{ profile.name | json }}</code>
  </pre>
    <p class="textos">Nome de Utilizador:</p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code>{{ profile.nickname | json }}</code>
  </pre>
    <p class="textos">Foto:</p>

    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code>{{ profile.picture | json }}</code>
  </pre>
    <p class="textos">E-mail:</p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code>{{ profile.email | json }}</code>
  </pre>
    <p class="textos">Verificação de E-mail:</p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code>{{ profile.email_verified | json }}</code>
  </pre>
    <p class="textos">Atualizado em:</p>
    <pre class="dados" *ngIf="auth.userProfile$ | async as profile">
    <code>{{ profile.updated_at | json }}</code>
  </pre>
    <p class="textos">Palavra-Passe:</p>
</div>

<!--<pre *ngIf="auth.userProfile$ | async as profile">
<code>{{ profile.name | json }}</code>
</pre>-->
