<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item active ">
                    <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="loginteste" *ngIf="!auth.loggedIn">Entrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="profile" *ngIf="auth.loggedIn">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="email" *ngIf="auth.loggedIn">Mandar email</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="material-layout" *ngIf="auth.loggedIn">material-layout</a>
                </li>

            </ul>

        </div>
    </nav>
</header>