<div class="box">
    <h2>Enviar Email</h2>
    <form [formGroup]="sendEmailData">

        <div class="form-group">
            <label for="email">De:</label>
            <input type="text" formControlName="email" class="form-control" />

            <label for="email">Para:</label>
            <input type="text" formControlName="email" class="form-control" />

            <label for="email">Assunto:</label>
            <input type="text" formControlName="email" class="form-control" />


            <div class="md-form md-outline">
                <label for="form75">Mensagem:</label>
                <textarea id="form75" class="md-textarea form-control" rows="3"></textarea>

            </div>


        </div>
        <button class="btn btn-dark" onclick="doLogin()">Enviar</button>
    </form>
</div>