<h2>Enviar Email</h2>
<form [formGroup]="sendEmailData">

    <p class="textos">De:</p>
    <input class="text" type="text" name="from" value="" formControlName="from"><br>
    <p class="textos">Para:</p>
    <input class="text" type="text" name="to" value="" formControlName="to"><br>
    <p class="textos">Assunto:</p>
    <input class="text" type="text" name="subject" value="" formControlName="subject"><br>
    <p class="textos">Mensagem:</p>
    <input class="text2" type="text" name="message" value="" formControlName="message"><br>
    <button class="submit" type="submit" (click)="sendEmail()">Enviar</button>
</form>